@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

.attribution { 
    font-size: 15px; 
    text-align: center;
    margin: 5px; 
}
.attribution a { color: hsl(228, 45%, 44%); }

:root {
    --dark-blue-main: hsl(217, 54%, 11%);
    --dark-blue-card: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    background-color: var(--dark-blue-main);
    height: calc(100vh - 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 0;
    cursor: pointer;
}

h1:hover {
    color: var(--cyan);
}

p {
    color: var(--soft-blue);
    font-weight: 300;
    font-size: 1.5rem;
}


.card {
    width: 350px;
    max-width: 100%;
    border-radius: 10px;
    background-color: var(--dark-blue-card);
    padding: 20px;
    margin-bottom: 10px;
}

.img-container {
    width: 304px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.img-container img.equilibrum {
    width: 100%;
    border-radius: 10px;
}


.img-container:hover::after {
    content: "";
    background-color: var(--cyan);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    opacity: 0.5;
    position: absolute;
}

.img-container .view-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 999;
}

.img-container:hover .view-container {
    opacity: 1;
}

.pricing-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.eth-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--cyan);
    font-weight: 500;
}

.clock-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--soft-blue);
    font-weight: 500;
}

.line {
    border: none;
    background-color: var(--dark-blue-line);
    height: 1px;
    margin-bottom: 15px;
}

.main-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.main-footer .avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.footer-link {
    color: var(--white);
    font-weight: 400;
}

.footer-link:hover {
    color: var(--cyan);
}